<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" class="home-button">Home</a></li>
        <li><a href="{{ path('main_test') }}"class="home-button">Test</a></li>
        <li><a href="{{ path('main_show') }}"class="home-button">Show</a></li>
        <li><a href="{{ path('main_add') }}"class="home-button">Add</a></li>

    </ul>
</nav>